<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Jika tidak diberi maka drop downnya tidak bisa -->
<!-- <head th:insert="/fragments/header.html :: headerfiles"></head> -->

<head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- <link href="../static/css/main.css" rel="stylesheet" th:href="@{css/main.css}" /> -->
    <link rel="stylesheet" th:href="@{~/css/main.css}" />

    <script th:src="@{~/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{~/webjars/jquery/jquery.slim.js}"></script>
    <script th:src="@{~/webjars/jquery/validate-bootstrap.jquery.min.js}"></script>
    <script th:src="@{~/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{~/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- <!-- <script th:src="@{~/webjars/bootstrap/js/bootstrap.min.js}"></script> -->
    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/css/bootstrap.min.css} " />
    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/css/bootstrap-responsive.css} " />

    <link th:rel="stylesheet" th:href="@{~/webjars/font-awesome/css/all.css} " />

    <!-- Material Design Bootstrap -->
    <link th:href="@{~/css/mdb.min.css}" rel="stylesheet">

    <div th:replace="fragments/header.html :: headerfiles"></div>


</head>

<body>
    <!-- Check pasangan di atas -->
    <!-- <header th:insert="fragments/header.html :: header-nav"></header> -->

    <!-- <div th:replace="fragments/header.html :: header-nav"></div> -->

    <!-- <br> -->
    <!-- <div>
        Nama User: <b><span sec:authentication="name"></span> </b>
    </div>
    <div>
        Nama User: <u><span th:text="${namaUser}" /> </u>
    </div>
    <div>
        Principal: <u><span th:text="${principal}" /> </u>
    </div> -->

    <div class="md-form">
        <i class="fas fa-user prefix white-text"></i>
        <input type="text" id="user-name" class="form-control">
        <label for="user-name">Your name</label>
    </div>
    <div><br></div>

    <div class="md-form">
        <i class="fas fa-lock prefix white-text"></i>
        <!-- <input type="password" id="orangeForm-pass" class="form-control"> -->
        <input type="password" id="orangeForm-pass" class="form-control">
        <label for="orangeForm-pass">Your password</label>
    </div>

    <footer class="navbar-default navbar-fixed-bottom">
        <div class="separator" th:replace="fragments/footer :: footer">&copy; 2016 pironix</div>
    </footer>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" th:src="@{~/js/mdb.min.js}"></script>

    <script>
        new WOW().init();
    </script>

</body>

</html>